<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/test/" method="post">
    {% csrf_token %}
    <div>
        <input type="text" placeholder="请输入..." name="message">
        <button type="submit">发送</button>
    </div>
</form>
{% csrf_token %}
    <div>
        <input type="text" placeholder="请输入..." id="messageInput">
        <button  type="button" onclick="send_message()">发送</button>
    </div>
<div>{{ n1 }}</div>
<h3>示例3</h3>
<form id="form3">
    <input type="text" name="user" placeholder="姓名"/>
    <input type="text" name="age" placeholder="年龄"/>
    <input type="text" name="email" placeholder="邮箱"/>
    <input type="text" name="more" placeholder="介绍"/>
</form>
<input id="btn3" type="button" class="btn btn-primary" value="点击3"/>
</body>
<script>
    function send_message(){
        const input=document.getElementById('messageInput');
        const message=input.value.trim();
        fetch('/test_ajax/',{
            method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie(csrftoken),  
                },
                credentials: 'include',  
                
                body:JSON.stringify({
                    message:message,
                    n1:123,
                    n2:456,
                    username:"red"
                })
            })
            
    }
    function bindBtn3Event() {
            $("#btn3").click(function () {
                $.ajax({
                    url: '/task/ajax/',
                    type: "post",
                    data: $("#form3").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        console.log(res.status);
                        console.log(res.data);
                    }
                })
            })
        }
    
</script>
</html>